# ignore files that will be created by latex
*.idx
*.ilg
*.ind
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.soc
*.loc

# ignore the final documents
*.pdf
*.dvi
*.ps

# ignore authors' working drafts
book_*.tex
